{% extends 'carRegister/layout.html' %}
{% load static %}

{% block title %}
Детали записи
{% endblock %}

{% block content %}
<div class="detailViewDiv" id="detailViewDiv">
    <img style="width: 600px; height: 400px; margin: 5px;" src="/images/{{ item.image }}" alt="">
    <table class="table table-bordered" id="table">
  <tbody>
    <tr>
      <td>Полное имя</td>
      <td>{{ item.employee.fullName }}</td>
    </tr>
  <tr>
      <td>Номер автомобиля</td>
      <td>{{ item.employee.car_number }}</td>
  </tr>
   <tr>
      <td>Должность</td>
      <td>{{ item.employee.job }}</td>
  </tr>
   <tr>
      <td>Дата рождения</td>
      <td>{{ item.employee.date_of_birth }}</td>
  </tr>
   <tr>
      <td>Марка автомобиля</td>
      <td>{{ item.employee.car_mark }}</td>
  </tr>
   <tr>
      <td>Модель автомобиля</td>
      <td>{{ item.employee.car_model }}</td>
  </tr>
   <tr>
      <td>Год выпуска автомобиля</td>
      <td>{{ item.employee.car_year }}</td>
  </tr>
   <tr>
      <td>Время действия</td>
      <td>{{ item.date }}</td>
  </tr>
   <tr>
      <td>Тип действия</td>
      <td>{{ item.type_of_action }}</td>
  </tr>
  </tbody>
</table>
    <a href="/actions-history/"><button class="btn btn-info">Назад</button></a>
</div>
<script>
const myCheckbox = document.querySelector('#my-checkbox');
const asd = document.getElementById('detailViewDiv');

myCheckbox.addEventListener('change', () => {
  if (myCheckbox.checked) {
    asd.style.display = 'none';
  } else {
    asd.style.display = 'flex';
  }
});
</script>
{% endblock %}