{% extends 'carRegister/layout.html' %}
{% load static %}

{% block title %}
Исторяи действий
{% endblock %}

{% block content %}
<div class="input-group" id="input-group" style="justify-content: center; margin: 5px;">
  <form action="" method="POST" style="display: flex; flex-direction: column;">
    {% csrf_token %}
  <div class="form-outline">
    <input type="search" id="form1" name="number" class="form-control" placeholder="Найти по номеру" />
  </div>
    <div style="display: flex; flex-direction: column">
    <div class="form-outline" style="display: flex; justify-content: space-between;">
      <section>Тип действия<select name="type_of_action" id="type_of_action" class="form-select">
        <option value="Въезд">Въезд</option>
        <option value="Выезд">Выезд</option>
      </select>
        </section>
      <section>Сортировка
     <select name="order" id="order" class="form-select">
       <option value="desc"> Дата: По убыванию</option>
      <option value="asc"> Дата: По возрастанию</option>
    </select>
        </section>
      </div>
      <div style="display: flex; flex-direction: row;">
        <section>Дата от<input type="date" id="date_from" name="date_from" class="form-control"/></section>
        <section>Дата до<input type="date" id="date_to" name="date_to" class="form-control"/></section>
      </div>
  <button type="submit" class="btn btn-primary">
  Применить <i class="fa fa-check"></i>
  </button>
      <a href="/actions-history/"><button class="btn btn-danger" style="width: 100%;">Очистить <i class="fa fa-filter" ></i></button></a>
      </div>
  </form>

</div>
<a id="export_button" href='/export_records/?order={{ request.POST.order|default_if_none:"" }}&number={{ request.POST.number|default_if_none:"" }}&date_from={{ request.POST.date_from|default_if_none:"" }}&date_to={{ request.POST.date_to|default_if_none:"" }}&type_of_action={{ request.POST.type_of_action|default_if_none:"" }}'><button style="margin: 0 auto; position: absolute; right: 100px;" class="btn btn-success">Экспорт в Excel</button></a>
<table class="table" id="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Номер</th>
      <th scope="col">Время</th>
        <th scope="col">Тип действия</th>
      <th scope="col">-</th>
    </tr>
  </thead>
  <tbody>
  {% for item in objects %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ item.employee.car_number }}</td>
      <td>{{ item.date }}</td>
      <td>{{ item.type_of_action }}</td>
    <td><a href="{% url 'actions_detail' item.id %}">Подробнее</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script>
const myCheckbox = document.querySelector('#my-checkbox');
const table = document.getElementById('table');
const search = document.getElementById('input-group');
const export_b = document.getElementById('export_button');

myCheckbox.addEventListener('change', () => {
  if (myCheckbox.checked) {
    table.style.display = 'none';
    search.style.display = 'none';
    export_b.style.display = 'none';
  } else {
    table.style.display = 'table';
    search.style.display = 'flex';
    export_b.style.display = 'block';
  }
});
</script>
{% endblock %}

