{% extends 'carRegister/layout.html' %}
{% load static %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}



<div class="cameras">
    <div class="cam1" style="background-image: url('{% static 'carRegister/img/offline.gif' %}')">
    <img src="{% static 'carRegister/img/offline.gif' %}" alt="">
    <canvas id="myCanvas"></canvas>
    </div>
    <div class="cam2" style="background-image: url('{% static 'carRegister/img/offline.gif' %}')">
        <img src="{% static 'carRegister/img/offline.gif' %}" alt="">
        <canvas id="myCanvas2"></canvas>
    </div>
</div>
<script src="{% static 'carRegister/js/script.js' %}"></script>
<script src="{% static 'carRegister/js/canvas.js' %}"></script>
<script src="{% static 'carRegister/js/canvas2.js' %}"></script>
{% endblock %}